<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>bienvenido al inicio  {{#if admin}} <a href="/cerrar">Cerrar sesion de administrador</a> {{/if}} </h1>


    {{#if admin}}
        <p>eres administrador </p>
    {{/if}}



   
</body>
</html>