<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
    <input name="nombre" id="nombre" type="text">
    <input name="pass" id="pass" type="text">
    <button type="submit">Ingresar</button>
    </form>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

     {{#if alert}}
    <script>
            Swal.fire({
            title: "{{title}}",
            text: "{{text}}",
            icon: "{{icon}}"
            });
    </script>
    {{/if}}
    
    
</body>
</html>